[user]
	email = cesarte@gmail.com
	name = Cesar Saez
[color]
	ui = true
[push]
	default = current
[pull]
	default = current
[diff]
	tool = 'nvim -d'
[merge]
	tool = 'nvim -d'
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	lo = log --pretty=oneline
	bl = blame
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --color
